<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ibore.libs">

    <application>

        <activity
            android:name=".util.PermissionUtils$PermissionActivity"
            android:label="权限申请"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Libs.Transparent" />

    </application>
</manifest>
